<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-24T14:55:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Gaurav.Sharma4/Desktop/Wavify/Wavify.xcodeproj</string>
</dict>
</plist>
