name: Swift                                                                   
                                                                                
on:                                                                           
    push:                                                                       
      branches: [ "main" ]                                                      
    pull_request:
      branches: [ "main" ]                                                                                                                                     
jobs:                                                                         
    build:                                                                      
      runs-on: macos-latest                                                     
                                                                                
      steps:                                                                    
      - uses: actions/checkout@v4                                               
      - name: Build
        run: |
          xcodebuild -scheme Wavify \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            -skipPackagePluginValidation \
            build
